<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add Customer</title>
</head>

<h3></h3>@DateTime.Now

@{ 

   // CustomerController cb = new CustomerController();
    int i = 78;
    DateTime dt = new DateTime();
}
<body>
    <h3>Add Customer</h3>
</body>
</html>